@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KronaOneRegular';
  src: local('KronaOneRegular'), url(./assets/fonts/KronaOneRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'AnekTeluguRegular';
  src: local('AnekteluguRegular'), url(./assets/fonts/AnekTeluguRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./assets/fonts/Poppins.ttf) format('truetype');
}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}
#root {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
 }
 
 body{
  @apply font-poppins;
  /* position: relative; */
  /* min-height: 100vh; */
}
#main {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  position: relative;
}


